h1 
{
	color: #3396FF
}
#SizeUP 
{
	font-size: 18px;
}
.Margin
{
	margin-left: -6px
}
#Aktiviteti 
{
	width: 547px;
}
#margintop
{
	margin-top: 25px;
	margin-left: -12px;
	font-size: 18px;
}
#widhtdate
{
	width: 228px;
}

#widthText 
{
	width: 227px;
}

